---
export const prerender = true;

import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
    const blogEntries = await getCollection('posts');

    return blogEntries.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout
    title={entry.data.title}
    description={entry.data.description}
    url={'https://www.barbierinotes.com/posts/' + entry.slug}
>
    <main>
        <Content />
        <div class="mt-32">
            <div class="flex gap-1 items-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" height="18" width="18" fill="#0000009b"><path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/></svg>
                <a href="https://x.com/intent/user?screen_name=barbierinotes" target="_blank" class="text-gray-1100 underline">@barbierinotes</a>
            </div>
        </div>
    </main>
</Layout>
