---
import Layout from "../../layouts/Layout.astro";

const allPosts = await Astro.glob('./*.mdx');
const postsByYear = {};

for (const post of allPosts) {
    const pubDate = post.frontmatter.pubDate;

    if (pubDate) {
        const year = new Date(pubDate).getFullYear();
        if (!postsByYear[year]) postsByYear[year] = [];
        postsByYear[year].push(post);
    }
}

const sortedPosts = Object.entries(postsByYear)
    .sort(([yearA], [yearB]) => yearB - yearA) 
    .map(([year, posts]) => ({
        year: parseInt(year),
        posts
    }));

---

<Layout title="Posts">
    {
        sortedPosts.map((groupPost) => (
            <div class="-mb-3 mt-16 sm:mt-32">
                <span class="mb-5 block font-medium sm:mb-6">{groupPost.year}</span>
                {groupPost.posts.map(post => (
                    <a href={post.url} class="-mx-4 flex flex-col rounded-md px-4 no-underline hover:bg-[#F5F4F4] dark:hover:bg-gray-200 sm:py-3">
                        <span>{post.frontmatter.title}</span>
                        <span class="text-gray-1100">{post.frontmatter.subTitle}</span>
                    </a>
                ))}
            </div>
        ))
    }
</Layout>