---
import Layout from '../layouts/Layout.astro';

---
<Layout
    title="About me"
    url='https://www.barbierinotes.com/about'
    >
    <main>
        <div class="-mb-3 mt-16 sm:mt-32">
            <p class="text-gray-1100">Read more about me in the following paragraphs, or see my work experience in the section below.</p>
        </div>

        <div class="-mb-3 mt-16 sm:mt-32">
            <h2 class="mb-5 mt-16 font-semibold md:mt-16">About me</h2>
            <p class="mt-4 text-gray-1100">I've always been extremely passionate about everything related to Technology and Business, that’s how I discovered the world of Computer Science. Currently, rather than opting for a traditional student job, such as waiting tables, I chose to work as a Freelance Web Developer to acquire work experience that (hopefully) holds greater long-term value for my career path.</p>
            
            <div class="grid grid-cols-2 sm:grid-cols-3 gap-3 my-8">
                <div class="h-40 col-span-2">
                    <img
                        alt="Me posing with a Pagani supercar."
                        class="w-full h-full rounded-lg object-cover"
                        fetchpriority="high"
                        decoding="async"
                        sizes="(max-width: 821px) 100vw, 821px"
                        srcset="
                            img/mosaic/mosaic-pagani_mwgcoz_c_scale,w_190.png 190w,
                            img/mosaic/mosaic-pagani_mwgcoz_c_scale,w_481.png 481w,
                            img/mosaic/mosaic-pagani_mwgcoz_c_scale,w_681.png 681w,
                            img/mosaic/mosaic-pagani_mwgcoz_c_scale,w_821.png 821w"
                        src="img/mosaic/mosaic-pagani_mwgcoz_c_scale,w_821.png"
                    >
                </div>
                <div class="h-40">
                    <img
                        alt="New macbook pro 14 just unboxed."
                        class="w-full h-full rounded-lg object-cover"
                        fetchpriority="high"
                        decoding="async"
                        sizes="(max-width: 2000px) 100vw, 2000px"
                        srcset="
                            img/mosaic/mosaic-macbook_ucfdxk_c_scale,w_190.webp 190w,
                            img/mosaic/mosaic-macbook_ucfdxk_c_scale,w_940.webp 940w,
                            img/mosaic/mosaic-macbook_ucfdxk_c_scale,w_1588.webp 1588w,
                            img/mosaic/mosaic-macbook_ucfdxk_c_scale,w_2000.webp 2000w"
                        src="img/mosaic/mosaic-macbook_ucfdxk_c_scale,w_2000.webp"
                    >
                </div>
                <div class="h-40">
                    <img
                        alt="The tree that was outside of my University classroom in Milan."
                        class="w-full h-full rounded-lg object-cover"
                        fetchpriority="high"
                        decoding="async"
                        sizes="(max-width: 960px) 100vw, 960px"
                        srcset="
                            img/mosaic/mosaic-tree_ef3a9r_c_scale,w_190.png 190w,
                            img/mosaic/mosaic-tree_ef3a9r_c_scale,w_621.png 621w,
                            img/mosaic/mosaic-tree_ef3a9r_c_scale,w_814.png 814w,
                            img/mosaic/mosaic-tree_ef3a9r_c_scale,w_960.png 960w"
                        src="img/mosaic/mosaic-tree_ef3a9r_c_scale,w_960.png"
                    >
                </div>
                <div class="h-40 col-span-2">
                    <img
                        alt="Photography of Bellagio from Lake Como."
                        class="w-full h-full rounded-lg object-cover"
                        fetchpriority="high"
                        decoding="async"
                        sizes="(max-width: 1280px) 100vw, 1280px"
                        srcset="
                            img/mosaic/mosaic-bellagio_pwf4nm_c_scale,w_190.jpg 190w,
                            img/mosaic/mosaic-bellagio_pwf4nm_c_scale,w_753.jpg 753w,
                            img/mosaic/mosaic-bellagio_pwf4nm_c_scale,w_1113.jpg 1113w,
                            img/mosaic/mosaic-bellagio_pwf4nm_c_scale,w_1280.jpg 1280w"
                        src="img/mosaic/mosaic-bellagio_pwf4nm_c_scale,w_1280.jpg"
                    >
                </div>
            </div>

            <p class="mt-4 text-gray-1100">I believe in continuous growth and self-improvement, both in personal and professional life. This approach has encouraged me to be proactive and work on interesting projects.</p>
            <p class="mt-4 text-gray-1100">Spending my free time in the development of personal projects, writing on my personal blog, and pursuing some small Entrepreneurial venture to develop business skills. I have great desire to make new experiences, meet exceptional people, get involved in something, test my limits, move out of the usual context.</p>
        </div>

        
        <div class="-mb-3 mt-16 sm:mt-32">
            <span class="mb-5 block font-semibold sm:mb-6">Work Experience</span>

            <span class="block font-medium">Freelance</span>
            <p class="text-gray-1100 text-sm mb-5">Web Developer</p>

            <ul class="my-6 ml-6 list-disc [&>li]:mt-2 text-gray-1100">
                <li>
                    Developed high quality hand-coded websited for italian companies, optimizing performances and SEO.
                </li>
            </ul>
        </div>
    </main>
</Layout>