---
import Layout from '../layouts/Layout.astro';

---
<Layout
    title="About me"
    url='https://www.barbierinotes.com/about'
    >
    <main>
        <div class="-mb-3 mt-16 sm:mt-32">
            <p class="text-gray-1100 italic">"Any sufficient advanced technology is indistinguishable from magic."</p>
        </div>

        <div class="-mb-3 mt-16 sm:mt-32">
            <h2 class="mb-5 mt-16 font-semibold md:mt-16">About me</h2>
            <p class="mt-4 text-gray-1100">
                Since I was young, I've been captivated by technology, and lately especially Space Technology. That's why I plan to complement my Computer Science degree with a degree in Space Engineering. In my free time, I enjoy reading, personal finance, golf, and Formula 1.
            </p>
            <p class="mt-4 text-gray-1100">
                I have great desire to make new experiences and meet exceptional people. Long-term, I want to start my own company and build something useful and cool for humanity.
            </p>
        </div>
        
        <div class="-mb-3 mt-16 sm:mt-32">
            <span class="mb-5 block font-semibold sm:mb-6">Work Experience</span>

            <span class="block font-medium">Freelance</span>
            <p class="text-gray-1100 text-sm mb-5">Web Developer</p>
            <ul class="my-6 ml-6 list-disc [&>li]:mt-2 text-gray-1100">
                <li>Developed high quality hand-coded websited for italian companies, optimizing performances and SEO.</li>
            </ul>
        </div>
    </main>
</Layout>