---
import Layout from '../layouts/Layout.astro';

---
<Layout
    title="About me"
    url='https://www.barbierinotes.com/about'
    >
    <main>
        <div class="-mb-3 mt-16 sm:mt-32">
            <p class="text-gray-1100">Read more about me in the following paragraphs, or see my work experience in the section below.</p>
        </div>

        <div class="-mb-3 mt-16 sm:mt-32">
            <h2 class="mb-5 mt-16 font-semibold md:mt-16">About me</h2>
            <p class="mt-4 text-gray-1100">I've always been extremely passionate about everything related to Technology and Business, that’s how I discovered the world of Computer Science. Currently, rather than opting for a traditional student job, such as waiting tables, I chose to work as a Freelance Web Developer to acquire work experience that (hopefully) holds greater long-term value for my career path.</p>
            <p class="mt-4 text-gray-1100">I believe in continuous growth and self-improvement, both in personal and professional life. This approach has encouraged me to be proactive and work on interesting projects.</p>
            <p class="mt-4 text-gray-1100">Spending my free time in the development of personal projects, writing on my personal blog, and pursuing some small Entrepreneurial venture to develop business skills. I have great desire to make new experiences, meet exceptional people, get involved in something, test my limits, move out of the usual context.</p>
        </div>

        
        <div class="-mb-3 mt-16 sm:mt-32">
            <span class="mb-5 block font-semibold sm:mb-6">Work Experience</span>

            <span class="block font-medium">Freelance</span>
            <p class="text-gray-1100 text-sm mb-5">Web Developer</p>

            <ul class="my-6 ml-6 list-disc [&>li]:mt-2 text-gray-1100">
                <li>
                    Developed high quality hand-coded websited for italian companies, optimizing performances and SEO.
                </li>
            </ul>
        </div>
    </main>
</Layout>