---
const props = Astro.props;
---
<div>
    <div class="relative my-6 w-full overflow-hidden rounded-xl bg-white md:my-8"> 
        <img alt={props.alt} title={props.title} loading="lazy" decoding="async" class="rounded-xl w-full" src={props.src} >
        <div aria-hidden="true" class="absolute inset-0 rounded-xl shadow-inset-border"></div>
    </div>
    <p class="-mt-2 md:-mt-4 mb-12 text-center text-xs text-gray-1000">
        {props.title}
    </p>
</div>