---
---
<div class="grid grid-cols-2 sm:grid-cols-3 gap-3 my-8">
    <div class="h-40 col-span-2">
        <div class="w-full h-full rounded-lg bg-[url('https://barbierinotes.com/img/mosaic-pagani.jpg')] bg-center bg-no-repeat bg-cover"></div>
    </div>
    <div class="h-40">
        <div class="w-full h-full rounded-lg bg-[url('https://barbierinotes.com/img/mosaic-pagani.jpg')] bg-center bg-no-repeat bg-cover"></div>
    </div>
    <div class="h-40">
        <div class="w-full h-full rounded-lg bg-[url('https://barbierinotes.com/img/mosaic-pagani.jpg')] bg-center bg-no-repeat bg-cover"></div>
    </div>
    <div class="h-40 col-span-2">
        <div class="w-full h-full rounded-lg bg-[url('https://barbierinotes.com/img/mosaic-pagani.jpg')] bg-center bg-no-repeat bg-cover"></div>
    </div>
</div>