---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="mx-auto my-12 max-w-[692px] px-6 antialiased sm:my-32 md:my-16">
			<header class="mb-32 flex flex-col items-start">
				<a
					class="text-medium inline-block font-medium no-underline"
					href="#">
					Barbieri Notes</a>
				<span class="text-medium font-medium leading-none text-gray-500">Software Engineer</span>
			</header>
			<slot />
		</div>
	</body>
</html>
<style is:global>
</style>
